*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(146, 132, 115);
}

.board{
    top: 150px;
    position: relative;
    margin: auto;
    border: solid #000000;
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: block;
}

.column1{
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
}

.column2{
    position: absolute;
    top: 50px;
    height: 50px;
    width: 100%;
    display: flex;
}

.column3{
    position: absolute;
    top: 100px;
    height: 50px;
    width: 100%;
    display: flex;
}

.column4{
    position: absolute;
    top: 150px;
    height: 50px;
    width: 100%;
    display: flex;
}

.column5{
    position: absolute;
    top: 200px;
    height: 50px;
    width: 100%;
    display: flex;
}

.column6{
    position: absolute;
    top: 250px;
    height: 50px;
    width: 100%;
    display: flex;
}

.column7{
    position: absolute;
    top: 300px;
    height: 50px;
    width: 100%;
    display: flex;
}

.column8{
    position: absolute;
    top: 350px;
    height: 50px;
    width: 100%;
    display: flex;
}

.black{
    background: #000000;
    width:50px ;
    height: 50px;
    display: inline-block;
}

.white{
    height: 60px;
    width:50px ;
    height: 50px;
    display: inline-block;
}

.horse{
    top: 0;
    left: 50px;
    position: absolute;
    height: 50px;
    width: 50px;
    animation: mov 10s infinite;
    animation-delay: 1s;
}

@keyframes mov{
    0%{top: 0;left: 50px;}
    10%{top: 100px;left: 50px;}
    16%{top: 100px;left: 100px;}
    22%{top: 200px;left: 100px;}
    28%{top: 200px;left: 150px;}
    34%{top: 300px;left: 150px;}
    40%{top: 300px;left: 200px;}
    46%{top: 350px;left: 200px;}
    52%{top: 350px;left: 300px;}
    66%{top: 350px;left: 300px;}
    70%{top: 350px;left: 200px;}
    72%{top: 300px;left: 200px;}
    74%{top: 300px;left: 150px;}
    76%{top: 200px;left: 150px;}
    78%{top: 200px;left: 100px;}
    80%{top: 100px;left: 100px;}
    82%{top: 100px;left: 50px;}
    84%{top: 0;left: 50px;}
    100%{top: 0;left: 50px;}
}